<!-- chat.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tornado聊天室</title>
</head>
<body>
    <h1>聊天室</h1>
    <hr>
    <div>
        <textarea id="contents" rows="20" cols="120" readonly></textarea>
    </div>
    <div class="send">
        <input type="text" id="content" size="50">
        <input type="button" id="send" value="發送">
    </div>
    <p>
        <a id="quit" href="javascript:void(0);">退出聊天室</a>
    </p>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function() {
            // 將內容追加到指定的文本區
            function appendContent($ta, message) {
                var contents = $ta.val();
                contents += '\n' + message;
                $ta.val(contents);
                $ta[0].scrollTop = $ta[0].scrollHeight;
            }
            // 通過WebSocket發送消息
            function sendMessage() {
                message = $('#content').val().trim();
                if (message.length > 0) {
                    ws.send(message);
                    appendContent($('#contents'), '我說：' + message);
                    $('#content').val('');
                }
            }
            // 創建WebSocket對象
            var ws= new WebSocket('ws://localhost:8888/chat');
            // 連接建立後執行的回調函數
            ws.onopen = function(evt) {
                $('#contents').val('~~~歡迎您進入聊天室~~~');
            };
            // 收到消息後執行的回調函數
            ws.onmessage = function(evt) {
                appendContent($('#contents'), evt.data);
            };
            // 爲發送按鈕綁定點擊事件回調函數
            $('#send').on('click', sendMessage);
            // 爲文本框綁定按下回車事件回調函數
            $('#content').on('keypress', function(evt) {
                keycode = evt.keyCode || evt.which;
                if (keycode == 13) {
                    sendMessage();
                }
            });
            // 爲退出聊天室超鏈接綁定點擊事件回調函數
            $('#quit').on('click', function(evt) {
                ws.close();
                location.href = '/login';
            });
        });
    </script>
</body>
</html>
