<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tornado聊天室</title>
    <style>
        .hint { color: red; font-size: 0.8em; }
    </style>
</head>
<body>
    <div>
        <div id="container">
            <h1>進入聊天室</h1>
            <hr>
            <p class="hint">{{hint}}</p>
            <form method="post" action="/login">
                <label>暱稱：</label>
                <input type="text" placeholder="請輸入你的暱稱" name="nickname">
                <button type="submit">登錄</button>
            </form>
        </div>
    </div>
</body>
</html>
